---
- name: Manage Acc-SW Site1 & Site2
  hosts: access
  gather_facts: false
  connection: network_cli
  vars_files:
    - gns3_vars.yml

  tasks:
    - name: Configure Hostname
      ios_config:
        lines:
          - hostname {{ inventory_hostname }}
      register: print_output
    -  debug: var=print_output

    - name: Create VLAN
      ios_config:
        parents: "vlan {{ item.id }}"
        lines:
          - name {{ item.name }}
      loop:
        - { id: 100, name: Usergroup100 }
        - { id: 200, name: Usergroup200 }
      register: print_output
    -  debug: var=print_output

    - name: Configure Access Interfaces
      ios_config:
        parents: interface {{ item.key }}
        lines:
          - switchport mode access
          - switchport access vlan {{ item.value.vlanNo }}
          - spanning-tree portfast
          - spanning-tree bpduguard enable
      loop:	"{{ equipment.switches.access[inventory_hostname].interfaces.accessMode | dict2items }}"
      register: print_output
    -  debug: var=print_output

    - name: Configure Trunk Interfaces
      ios_config:
        parents: interface {{ item.key }}
        lines:
          - description {{ item.value.desc }}
          - switchport trunk encapsulation dot1q
          - switchport mode trunk
          - switchport trunk allowed vlan {{ item.value.vlanNo }}
      loop:	"{{ equipment.switches.access[inventory_hostname].interfaces.trunkMode | dict2items }}"
      register: print_output
    -  debug: var=print_output

- name: Manage Dist-SW Site1 & Site2
  hosts: distribution
  gather_facts: false
  connection: network_cli
  vars_files:
    - gns3_vars.yml

  tasks:
    - name: Configure Hostname & IP Routing
      ios_config:
        lines:
          - hostname {{ inventory_hostname }}
          - ip routing
      register: print_output
    -  debug: var=print_output

    - name: Create VLAN
      ios_config:
        parents: "vlan {{ item.id }}"
        lines:
          - name {{ item.name }}
      loop:
        - { id: 100, name: Usergroup100 }
        - { id: 200, name: Usergroup200 }
      register: print_output
    -  debug: var=print_output

    - name: Configure Trunk Interfaces
      ios_config:
        parents: interface {{ item.key }}
        lines:
          - description {{ item.value.desc }}
          - switchport trunk encapsulation dot1q
          - switchport mode trunk
          - switchport trunk allowed vlan {{ item.value.vlanNo }}
      loop:	"{{ equipment.switches.distribution[inventory_hostname].interfaces.trunkMode | dict2items }}"
      register: print_output
    -  debug: var=print_output

    - name: Configure SVI
      ios_config:
        parents: interface vlan {{ item.key }}
        lines:
          - ip address {{ item.value.ip }} {{ item.value.subnet }}
          - standby {{ item.value.standbyNo }} ip {{ item.value.standbyIP }}
          - standby {{ item.value.standbyNo }} priority {{ item.value.standbyPrio }}
          - standby {{ item.value.standbyNo }} preempt
          - no shut
      loop:	"{{ equipment.switches.distribution[inventory_hostname].interfaces.vlan | dict2items }}"
      register: print_output
    -  debug: var=print_output

    - name: Create Etherchannel 1
      ios_config:
        parents: interface range {{ item.key }}
        lines:
          - no switchport
          - channel-group 1 mode active
          - no shut
      loop:	"{{ equipment.switches.distribution[inventory_hostname].interfaces.etherchannel | dict2items }}"
      register: print_output
    -  debug: var=print_output

    - name: Configure Etherchannel 1
      ios_config:
        parents: interface port-channel 1
        lines:
          - no switchport
          - ip address {{ item.value.ip }} {{ item.value.subnet }}
          - no shut
      loop:	"{{ equipment.switches.distribution[inventory_hostname].interfaces.etherchannel | dict2items }}"
      register: print_output
    -  debug: var=print_output

    - name: Configure Layer 3 Interfaces
      ios_config:
        parents: interface {{ item.key }}
        lines:
          - description {{ item.value.desc }}
          - no switchport
          - ip address {{ item.value.ip }} {{ item.value.subnet }}
          - no shut
      loop:	"{{ equipment.switches.distribution[inventory_hostname].interfaces.layer3 | dict2items }}"
      register: print_output
    -  debug: var=print_output

    - name: Configure Loopback
      ios_config:
        parents: interface {{ item.key }}
        lines:
          - ip address {{ item.value.ip }} {{ item.value.subnet }}
      loop:	"{{ equipment.switches.distribution[inventory_hostname].interfaces.loopback | dict2items }}"
      register: print_output
    -  debug: var=print_output

    - name: Configure OSPF
      ios_config:
        parents: router ospf 1
        lines:
          - network {{ item.value.ip }} {{ item.value.wildcard }} area 0
      loop:	"{{ equipment.switches.distribution[inventory_hostname].ospf.network | dict2items }}"
      register: print_output
    -  debug: var=print_output

    - name: Configure OSPF Passive Interface
      ios_config:
        parents: router ospf 1
        lines:
          - passive-interface loopback0
      register: print_output
    -  debug: var=print_output

- name: Manage Core-R Site1 & Site2
  hosts: core
  gather_facts: false
  connection: network_cli
  vars_files:
    - gns3_vars.yml

  tasks:
    - name: Configure Hostname
      ios_config:
        lines:
          - hostname {{ inventory_hostname }}
      register: print_output
    -  debug: var=print_output

    - name: Configure Layer 3 Interfaces
      ios_config:
        parents: interface {{ item.key }}
        lines:
          - description {{ item.value.desc }}
          - ip address {{ item.value.ip }} {{ item.value.subnet }}
          - no shut
      loop:	"{{ equipment.routers.core[inventory_hostname].interfaces.layer3 | dict2items }}"
      register: print_output
    -  debug: var=print_output

    - name: Configure Loopback
      ios_config:
        parents: interface {{ item.key }}
        lines:
          - ip address {{ item.value.ip }} {{ item.value.subnet }}
      loop:	"{{ equipment.routers.core[inventory_hostname].interfaces.loopback | dict2items }}"
      register: print_output
    -  debug: var=print_output

    - name: Configure OSPF
      ios_config:
        parents: router ospf 1
        lines:
          - network {{ item.value.ip }} {{ item.value.wildcard }} area 0
      loop:	"{{ equipment.routers.core[inventory_hostname].ospf.network | dict2items }}"
      register: print_output
    -  debug: var=print_output

    - name: Configure OSPF Passive Interface
      ios_config:
        parents: router ospf 1
        lines:
          - passive-interface loopback0
      register: print_output
    -  debug: var=print_output

- name: Manage CE Site1 & Site2
  hosts: edge
  gather_facts: false
  connection: network_cli
  vars_files:
    - gns3_vars.yml

  tasks:
    - name: Configure Hostname
      ios_config:
        lines:
          - hostname {{ inventory_hostname }}
      register: print_output
    -  debug: var=print_output

    - name: Configure Loopback
      ios_config:
        parents: interface {{ item.key }}
        lines:
          - ip address {{ item.value.ip }} {{ item.value.subnet }}
      loop:	"{{ equipment.routers.edge[inventory_hostname].interfaces.loopback | dict2items }}"
      register: print_output
    -  debug: var=print_output

    - name: Configure Layer 3 Interfaces
      ios_config:
        parents: interface {{ item.key }}
        lines:
          - description {{ item.value.desc }}
          - ip address {{ item.value.ip }} {{ item.value.subnet }}
          - no shut
      loop:	"{{ equipment.routers.edge[inventory_hostname].interfaces.layer3 | dict2items }}"
      register: print_output
    -  debug: var=print_output

    - name: Configure OSPF
      ios_config:
        parents: router ospf 1
        lines:
          - network {{ item.value.ip }} {{ item.value.wildcard }} area 0
      loop:	"{{ equipment.routers.edge[inventory_hostname].ospf.network | dict2items }}"
      register: print_output
    -  debug: var=print_output

    - name: Configure OSPF Additional
      ios_config:
        parents: router ospf 1
        lines:
          - default-information originate
          - passive-interface g0/0
          - passive-interface loopback0
      register: print_output
    -  debug: var=print_output

    - name: Configure BGP
      ios_config:
        parents: router bgp 65001
        lines:
          - neighbor {{ item.value.ip }} remote-as {{ item.value.asNo }}
      loop:	"{{ equipment.routers.edge[inventory_hostname].bgp.neighbor | dict2items }}"
      register: print_output
    -  debug: var=print_output

    - name: Configure MP-BGP Neighbors
      ios_config:
        parents: 
          - router bgp 65001
          - address-family ipv4
        lines:
          - neighbor {{ item.value.ip }} activate
      loop:	"{{ equipment.routers.edge[inventory_hostname].bgp.neighbor | dict2items }}"
      register: print_output
    -  debug: var=print_output

    - name: Configure MP-BGP Networks
      ios_config:
        parents: 
          - router bgp 65001
          - address-family ipv4
        lines:
          - network {{ item.value.ip }} mask {{ item.value.subnet }}
      loop:	"{{ equipment.routers.edge[inventory_hostname].bgp.network | dict2items }}"
      register: print_output
    -  debug: var=print_output

    - name: Configure Default Route
      ios_config:
        lines:
          - ip route 0.0.0.0 0.0.0.0 {{ equipment.routers.edge[inventory_hostname].default.ip }}
      register: print_output
    -  debug: var=print_output
